# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage
*.lcov


# Dependency directories
node_modules/
types/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm


# dotenv environment variable files
.env_
.env.development.local
.env.test.local
.env.production.local
.env.local


#generate output
dist


# Stores VSCode versions used for testing VSCode extensions
.vscode-test